/* Stylesheet for the top header */
.header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.logo_top {
    /*border: yellow solid 1px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none; 
    display: inline-flex;
    gap: 16px;
 }

.text,
li {
    font-size: 18px;
    color: #E5E7EB;
}

/* Stylesheet for the rest of the header */

.header_body {
    border: yellow solid 1px;
    padding: 100px;
    gap: 10px;
    display: flex;
    width: 850px;
    align-items: center;
    flex-wrap: wrap;
}

.header_big {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header_image {
    width: 400px;
    height: auto;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 25px;
}

/* Stylesheet for the middle section, with the gallery/cards */

.header_cards {
    padding-top: 30px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.information {
    background-color: #E5E7EB;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.description {
    font-size: 18px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}