/* Stylesheet for the logo header */
.header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.logo_top {
    /*border: yellow solid 1px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none; 
    display: inline-flex;
    gap: 16px;
 }

.text,
li {
    font-size: 18px;
    color: #E5E7EB;
}

/* Stylesheet for the image header */
.container_imgheader {
    display: flex;
    flex: 1;
    align-items: center;
}

.header_body {
    padding: 100px;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header_big {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.capybara_header {
    width: 400px;
    height: auto;
    margin-right: 300px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 25px;
}

/* Stylesheet for the middle section, with the gallery/cards */

.header_cards {
    padding-top: 30px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.information {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.description {
    font-size: 18px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

/* Stylesheet for quote section */
.container_quote {
    background-color: lightgray;
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: right;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.credit {
    background-color: lightgray;
    font-size: 20px;
    color: #1F2937;
    font-weight: bolder;
}

/* Stylesheet for call to action section */
.action {
    background-color: #E5E7EB;
    padding: 50px;
}

.container_action {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.header_action {
    font-size: 24px;
    font-weight: bold;
    color: #E5E7EB;
}

.text_action {
    color: #E5E7EB;
}

.button_action {
    border: #E5E7EB solid 2px;
    color: #E5E7EB;
    font-weight: bold;
    align-self: flex-end;
}

/* Stylesheet for footer section */
.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer_text {
    color: #E5E7EB;
    gap: 8px;
}